<h1><%= @globals['name'] %></h1>

<h2>Available Tools</h2>

<ul>
	<li><b><a href="/rent">Monthly Rent</a></b></li>
	<li><a href="/utilities">Utility Bills</a> <i>(coming soon)</i></li>
	<li><a href="/chores">Chore Calendar</a> <i>(coming soon)</i></li>
</ul>
